<nav class="zs-nav">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="nav-link" href="schedule">Lessons</NavLink>
    <NavLink class="nav-link" href="subscriptions">Subscriptions</NavLink>
    <NavLink class="nav-link" href="signup">Become a member</NavLink>

    <span class="zs-nav-sep"></span>

    <NavLink class="nav-link" href="admin/workouts">Workouts<span class="zs-nav-badge">Staff</span></NavLink>
    <NavLink class="nav-link" href="admin/instructors">Instructors</NavLink>
    <NavLink class="nav-link" href="admin/sessions">Planning</NavLink>
    <NavLink class="nav-link" href="admin/members">Members</NavLink>
</nav>
